apiVersion: v1
kind: Service
metadata:
  name: django-service
spec:
  type: NodePort
  selector:
    app: django-web   # 08-web-deployment.yaml에서 지정한 라벨과 일치해야 함
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
      nodePort: 30080

